@font-face {
    font-family: 'GreatVibesRegular';
    src: url('https://s3-us-west-1.amazonaws.com/www.nomadstudios.in/fonts/GreatVibes-Regular.otf');
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.nav-link {
    text-transform: uppercase;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo {
    font-style: bold;
    font-family: 'GreatVibesRegular';
    display: inline-block;
    padding-top: 1.35rem;
    padding-bottom: .3125rem;
    font-size: 3.5rem;
    line-height: inherit;
    white-space: nowrap;
    color: black !important;
    margin: 0 auto !important;
    text-transform: none !important;
    cursor: pointer;
}

.App {
    margin: 0 auto;
    transition: all 400ms ease;
    .appFooter {
        bottom: 0;
        position: static;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(255, 255, 255);
    }
}


/* ------------------------- RESPONSIVE STYLES ------------------------- */


/* ----------- Desktop ----------- */

@media only screen and (max-width: 767px) {
    .App {
        max-width: 100%;
        .videoSection {
            padding: 2%;
        }
        .appFooter {
            bottom: 0;
            position: static;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
        }
    }
}


/* ----------- iPhone 4 and 4S ----------- */


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}


/* ----------- iPhone 5 and 5S ----------- */


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .App {
        max-width: 100%;
        min-height: 430px;
        .videoSection {
            padding: 2%;
        }
        .appFooter {
            bottom: 0;
            position: static;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
        }
    }
}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .App {
        max-width: 100%;
        min-height: 400px;
        .videoSection {
            padding: 2%;
        }
        .appFooter {
            bottom: 0;
            position: static;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
        }
    }
}


/* ----------- iPhone 6 ----------- */


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .App {
        max-width: 100%;
        min-height: 430px;
        .videoSection {
            padding: 2%;
        }
        .appFooter {
            bottom: 0;
            position: static;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
        }
    }
}


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .App {
        max-width: 100%;
        min-height: 400px;
        .videoSection {
            padding: 2%;
        }
        .appFooter {
            bottom: 0;
            position: static;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
        }
    }
}


/* ----------- iPhone 6+ ----------- */


/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .App {
        max-width: 100%;
        min-height: 430px;
        .videoSection {
            padding: 2%;
        }
        .appFooter {
            bottom: 0;
            position: static;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
        }
    }
}


/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .App {
        max-width: 100%;
        min-height: 375px;
        .videoSection {
            padding: 2%;
        }
        .appFooter {
            bottom: 0;
            position: static;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
        }
    }
}


/* ----------- iPad mini ----------- */


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .App {
        max-width: 88%;
        .videoSection {
            padding: 2%;
        }
        .appFooter {
            bottom: 0;
            position: static;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
        }
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .App {
        max-width: 90%;
        .videoSection {
            padding: 2%;
        }
        .appFooter {
            bottom: 0;
            position: static;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
        }
    }
}