@font-face {
  font-family: 'ParchmentMF';
  src: url("https://s3-us-west-1.amazonaws.com/www.nomadstudios.in/fonts/Parchment MF.otf"); }

@font-face {
  font-family: 'GreatVibesRegular';
  src: url("https://s3-us-west-1.amazonaws.com/www.nomadstudios.in/fonts/GreatVibes-Regular.otf"); }

@font-face {
  font-family: 'blackjack';
  src: url("https://s3-us-west-1.amazonaws.com/www.nomadstudios.in/fonts/blackjack.otf"); }

@font-face {
  font-family: 'facundaitalic';
  src: url("https://s3-us-west-1.amazonaws.com/www.nomadstudios.in/fonts/Facunda-Italic.otf"); }

@font-face {
  font-family: 'sunshine';
  src: url("https://s3-us-west-1.amazonaws.com/www.nomadstudios.in/fonts/sunshine.ttf"); }

@font-face {
  font-family: 'SIMPLIFICATypeface';
  src: url("https://s3-us-west-1.amazonaws.com/www.nomadstudios.in/fonts/SIMPLIFICATypeface.ttf"); }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.nav-link {
  text-transform: uppercase; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.cover {
  background-size: cover; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.logo {
  font-family: 'sunshine';
  display: inline-block;
  padding-top: 1.35rem;
  padding-bottom: .3125rem;
  font-size: 2.5rem;
  line-height: 2rem;
  white-space: nowrap;
  color: black !important;
  margin: 0 auto !important;
  text-transform: capitalize !important;
  cursor: pointer; }

.navBar {
  background: transparent; }

.navbar {
  margin-bottom: 0 !important; }

.App {
  margin: 0 auto;
  transition: all 400ms ease; }
  .App .rotate270 {
    transform: rotate(270deg); }
  .App .showHideImage {
    display: none; }
  .App .contact-section {
    padding: 12px;
    font-size: 20px; }
    .App .contact-section .card {
      transition: 0.3s;
      border-radius: 5px;
      font-family: 'SIMPLIFICATypeface'; }
    .App .contact-section .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
    .App .contact-section img {
      background-position: center;
      border-radius: 50%; }
    .App .contact-section .content {
      padding: 2px 16px;
      width: inherit; }
  .App .nav-pills {
    display: none; }
  .App .slider-container {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    height: auto;
    color: #333; }
  .App .content-section-about {
    background: url("https://s3-us-west-1.amazonaws.com/www.nomadstudios.in/img/slider/watch.jpg") no-repeat center;
    background-size: cover;
    font-size: large;
    height: 70vh !important;
    padding: 10px 10px;
    font-weight: 300;
    color: grey;
    line-height: 3;
    position: relative;
    text-align: left; }
    .App .content-section-about p {
      position: absolute;
      font-family: 'ParchmentMF';
      font-style: oblique;
      left: 0;
      letter-spacing: 0px;
      background: black;
      /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      padding: 10px; }
  .App .Slider {
    background-size: cover !important;
    height: 100vh !important;
    width: auto !important; }
  .App .appFooter {
    bottom: 0;
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white; }

/* ------------------------- RESPONSIVE STYLES ------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1366px) {
  .App {
    max-width: 100%; }
    .App .showHideImage {
      display: none; }
    .App .videoSection {
      padding: 2%; }
    .App .Slider {
      background-size: cover !important;
      background-position-x: center !important;
      height: 120vh !important;
      width: auto !important; }
    .App .content-section-about {
      height: 90vh !important;
      width: 100vw;
      padding: 90px 10px; }
    .App .nav-pills {
      display: none; }
    .App .vmenu {
      position: absolute;
      height: auto;
      box-sizing: border-box;
      z-index: 999;
      right: 0;
      opacity: 0.5; }
      .App .vmenu .list-group li {
        width: 100%; }
      .App .vmenu .list-item-text {
        overflow-x: hidden;
        text-align: center;
        position: relative;
        padding: 1.75rem 1.75rem;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
        cursor: pointer;
        line-height: 2.5rem;
        background-color: black;
        color: white;
        text-shadow: 0px 0px 1px black;
        border-top-left-radius: 1.25rem !important;
        border-top-right-radius: 1.25rem !important;
        border-bottom-left-radius: 1.25rem !important;
        border-bottom-right-radius: 1rem !important; }
    .App .appFooter {
      bottom: 0;
      position: static;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: white; } }

@media only screen and (min-width: 1367px) {
  .App {
    max-width: 100%; }
    .App .showHideImage {
      display: none; }
    .App .Slider {
      background-size: cover !important;
      background-position-x: center !important;
      height: 120vh !important;
      width: auto !important; }
    .App .content-section-about {
      height: 85vh !important;
      width: 100vw;
      padding: 100px 10px; }
    .App .nav-pills {
      display: none; }
    .App .vmenu {
      position: absolute;
      height: auto;
      box-sizing: border-box;
      z-index: 999;
      right: 0;
      opacity: 0.5; }
      .App .vmenu .list-group li {
        width: 100%; }
      .App .vmenu .list-item-text {
        overflow-x: hidden;
        text-align: center;
        position: relative;
        padding: 1.75rem 1.75rem;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
        cursor: pointer;
        line-height: 2.5rem;
        background-color: black;
        color: white;
        text-shadow: 0px 0px 1px black;
        border-top-left-radius: 1.25rem !important;
        border-top-right-radius: 1.25rem !important;
        border-bottom-left-radius: 1.25rem !important;
        border-bottom-right-radius: 1rem !important; }
    .App .videoSection {
      padding: 2%; }
    .App .appFooter {
      bottom: 0;
      position: static;
      padding-bottom: 8px;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: white; } }

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .App {
    max-width: 100%;
    min-height: 430px; }
    .App .logo {
      line-height: 2rem; }
    .App .nav-pills {
      display: block; }
    .App .showHideImage {
      display: block; }
    .App .content-section-about {
      height: 83vh !important;
      padding: 10px 10px;
      font-size: small; }
    .App .videoSection {
      padding: 2%; }
    .App .vmenu {
      display: none; }
    .App .appFooter {
      bottom: 0;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: white; } }

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .App {
    max-width: 100%;
    min-height: 400px; }
    .App .logo {
      line-height: 2rem; }
    .App .nav-pills {
      display: block; }
    .App .content-section-about {
      height: 90vh !important;
      padding: 20px 10px;
      font-size: small; }
    .App .showHideImage {
      display: block; }
    .App .videoSection {
      padding: 2%; }
    .App .vmenu {
      display: none; }
    .App .appFooter {
      bottom: 0;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: white; } }

/* ----------- iPhone 6 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .App {
    max-width: 100%; }
    .App .logo {
      line-height: 2rem; }
    .App .nav-pills {
      display: block; }
    .App .content-section-about {
      height: 90vh !important;
      padding: 20px 10px;
      font-size: 15px; }
    .App .slider-container {
      width: 80vw;
      height: 60vh !important;
      color: #333; }
    .App .Slider {
      background-size: cover !important;
      height: 65vh !important;
      width: auto !important;
      min-height: 430px; }
    .App .showHideImage {
      display: block; }
    .App .videoSection {
      padding: 2%; }
    .App .vmenu {
      display: none; }
    .App .appFooter {
      bottom: 0;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: white; } }

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .App {
    max-width: 100%; }
    .App .logo {
      line-height: 2rem; }
    .App .nav-pills {
      display: block; }
    .App .content-section-about {
      height: 90vh !important;
      padding: 20px 10px;
      font-size: 15px; }
    .App .showHideImage {
      display: block; }
    .App .videoSection {
      padding: 2%; }
    .App .vmenu {
      display: none; }
    .App .appFooter {
      bottom: 0;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: white; } }

/* ----------- iPhone 6+ ----------- */
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .App {
    max-width: 100%; }
    .App .logo {
      line-height: 2rem; }
    .App .nav-pills {
      display: block; }
    .App .content-section-about {
      height: 85vh !important;
      padding: 10px 10px;
      font-size: 16px; }
    .App .showHideImage {
      display: block; }
    .App .videoSection {
      padding: 2%; }
    .App .vmenu {
      display: none; }
    .App .appFooter {
      bottom: 0;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: white; } }

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .App {
    max-width: 100%; }
    .App .logo {
      line-height: 2rem; }
    .App .nav-pills {
      display: block; }
    .App .content-section-about {
      height: 75vh !important;
      padding: 20px 10px;
      font-size: small; }
    .App .showHideImage {
      display: block; }
    .App .videoSection {
      padding: 2%; }
    .App .vmenu {
      display: none; }
    .App .appFooter {
      bottom: 0;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: white; } }

/* ----------- iPad mini ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .App {
    max-width: 88%; }
    .App .showHideImage {
      display: none; }
    .App .videoSection {
      padding: 2%; }
    .App .content-section-about {
      height: 75vh !important;
      font-size: small; }
    .App .appFooter {
      bottom: 0;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: white; } }

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .App {
    max-width: 90%; }
    .App .showHideImage {
      display: none; }
    .App .videoSection {
      padding: 2%; }
    .App .vmenu {
      display: none; }
    .App .appFooter {
      bottom: 0;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: white; } }

/* ----------------- iPad Pro -------------  */
/* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .App {
    max-width: 100%; }
    .App .showHideImage {
      display: none; }
    .App .Slider {
      background-size: cover !important;
      background-position-x: left !important;
      background-position-y: center !important;
      height: 70vh !important;
      width: auto !important; }
    .App .vmenu {
      position: absolute;
      height: auto;
      box-sizing: border-box;
      z-index: 999;
      right: 0;
      opacity: 0.5; }
      .App .vmenu .list-group li {
        width: 100%; }
      .App .vmenu .list-item-text {
        overflow-x: hidden;
        text-align: center;
        position: relative;
        padding: 1.75rem 1.75rem;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
        cursor: pointer;
        line-height: 2.5rem;
        background-color: black;
        color: white;
        text-shadow: 0px 0px 1px black;
        border-top-left-radius: 1.25rem !important;
        border-top-right-radius: 1.25rem !important;
        border-bottom-left-radius: 1.25rem !important;
        border-bottom-right-radius: 1rem !important; } }
